.error-model {
    width: 220px;
    text-align: center;
    background-color: #fff;
    border-radius: 6px;
    position: absolute;
    padding: 60px 50px;
  }
  
  @media screen and (min-width: 768px) {
    .error-model {
      width: 400px;
    }
  }
  
  .error-message {
    font-family: Roboto;
    font-size: 16px;
    color: rgb(19, 18, 18);
  }
  
  .model-button {
    position: absolute;
    top: -16px;
    right: -14px;
    border: 1px solid #fff;
    background-color: #fff;
    padding: 8px 10px;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
  }
  
  .model-button:hover {
    background-color: rgb(97, 168, 87);
    color: #fff;
  }
  