li {
    padding: 0;
    margin: 10px;
  }
  
  .button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .seat {
    font-size: 35px;
    color: #fff;
  }
  
  .available,
  .selected {
    color: #fff;
  }
  
  .booked {
    color: gray;
  }
  
  .selected {
    color: #37bd6f;
  }
  