.input-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }
  .input-container select,
  input {
    border: 1px solid #bfbfbf;
    padding: 6px;
    border-radius: 3px;
    font-family: "Roboto";
    font-size: 14px;
    outline: none;
    cursor: pointer;
  }
  